<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
			<key>bumper-wait-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>bumper-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>bumper-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,0},{40,36}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{40,36}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
			<key>bumper-2-wait-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,0},{47,47}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{47,47}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>bumper-2-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,0},{47,47}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{47,47}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>bumper-2-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,0},{41,41}}</string>
                <key>offset</key>
                <string>{-6,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{41,41}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>bunsen-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,0},{20,65}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{20,65}}</string>
                <key>sourceSize</key>
                <string>{20,67}</string>
            </dict>
            <key>bunsen-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,0},{20,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,67}}</string>
                <key>sourceSize</key>
                <string>{20,67}</string>
            </dict>
            <key>bunsen-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,0},{20,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,67}}</string>
                <key>sourceSize</key>
                <string>{20,67}</string>
            </dict>
            <key>bunsen-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,0},{20,65}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{20,65}}</string>
                <key>sourceSize</key>
                <string>{20,67}</string>
            </dict>
            <key>bunsen-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,67},{20,65}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{20,65}}</string>
                <key>sourceSize</key>
                <string>{20,67}</string>
            </dict>
            <key>bunsen-starting-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{20,67},{20,41}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{20,41}}</string>
                <key>sourceSize</key>
                <string>{20,67}</string>
            </dict>
            <key>bunsen-starting-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,67},{20,45}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{20,45}}</string>
                <key>sourceSize</key>
                <string>{20,67}</string>
            </dict>
            <key>bunsen-starting-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,67},{20,55}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{20,55}}</string>
                <key>sourceSize</key>
                <string>{20,67}</string>
            </dict>
            <key>bunsen-wait-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,67},{20,29}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,38},{20,29}}</string>
                <key>sourceSize</key>
                <string>{20,67}</string>
            </dict>
            <key>button-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,67},{40,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,27}}</string>
                <key>sourceSize</key>
                <string>{40,27}</string>
            </dict>
            <key>button-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,67},{40,23}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{40,23}}</string>
                <key>sourceSize</key>
                <string>{40,27}</string>
            </dict>
            <key>laser-firing-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,67},{57,15}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{57,15}}</string>
                <key>sourceSize</key>
                <string>{65,15}</string>
            </dict>
            <key>laser-firing-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,132},{57,15}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{57,15}}</string>
                <key>sourceSize</key>
                <string>{65,15}</string>
            </dict>
            <key>laser-firing-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,132},{61,15}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{61,15}}</string>
                <key>sourceSize</key>
                <string>{65,15}</string>
            </dict>
            <key>laser-firing-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,132},{65,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,15}}</string>
                <key>sourceSize</key>
                <string>{65,15}</string>
            </dict>
            <key>laser-wait-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,132},{57,15}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{57,15}}</string>
                <key>sourceSize</key>
                <string>{65,15}</string>
            </dict>
            <key>saw-running-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,147},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>saw-running-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,147},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>saw-wait.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,147},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>star-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,147},{40,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{40,38}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>star-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,147},{40,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{40,38}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>star-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,147},{38,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>star-fading-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,187},{34,36}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{34,36}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>star-fading-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,187},{32,30}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{32,30}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>star-fading-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,187},{26,26}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,9},{26,26}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>star-fading-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,187},{20,20}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,11},{20,20}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{248,223}</string>
            <key>textureFileName</key>
            <string>items.png</string>
        </dict>
    </dict>
</plist>
