<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blueportal-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{32,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,10}}</string>
                <key>sourceSize</key>
                <string>{32,10}</string>
            </dict>
            <key>blueportal-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,0},{32,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,10}}</string>
                <key>sourceSize</key>
                <string>{32,10}</string>
            </dict>
            <key>blueportal-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,0},{32,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,10}}</string>
                <key>sourceSize</key>
                <string>{32,10}</string>
            </dict>
            <key>blueportal-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,0},{32,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,10}}</string>
                <key>sourceSize</key>
                <string>{32,10}</string>
            </dict>
            <key>burned-wait-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,0},{22,14}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{22,14}}</string>
                <key>sourceSize</key>
                <string>{24,26}</string>
            </dict>
            <key>burned-wait-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,0},{22,14}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{22,14}}</string>
                <key>sourceSize</key>
                <string>{24,26}</string>
            </dict>
            <key>burning-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,0},{22,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,26}}</string>
                <key>sourceSize</key>
                <string>{24,26}</string>
            </dict>
            <key>burning-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,0},{22,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,26}}</string>
                <key>sourceSize</key>
                <string>{24,26}</string>
            </dict>
            <key>burning-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,0},{22,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,26}}</string>
                <key>sourceSize</key>
                <string>{24,26}</string>
            </dict>
            <key>burning-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,0},{22,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,26}}</string>
                <key>sourceSize</key>
                <string>{24,26}</string>
            </dict>
            <key>burning-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,0},{22,20}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{22,20}}</string>
                <key>sourceSize</key>
                <string>{24,26}</string>
            </dict>
            <key>falling-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,0},{22,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,26}}</string>
                <key>sourceSize</key>
                <string>{24,26}</string>
            </dict>
            <key>falling-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,0},{22,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,26}}</string>
                <key>sourceSize</key>
                <string>{24,26}</string>
            </dict>
            <key>falling-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,0},{22,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,26}}</string>
                <key>sourceSize</key>
                <string>{24,26}</string>
            </dict>
            <key>landing-h-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,0},{26,14}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{26,14}}</string>
                <key>sourceSize</key>
                <string>{26,24}</string>
            </dict>
            <key>landing-h-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,0},{24,16}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{24,16}}</string>
                <key>sourceSize</key>
                <string>{26,24}</string>
            </dict>
            <key>landing-h-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,0},{24,20}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{24,20}}</string>
                <key>sourceSize</key>
                <string>{26,24}</string>
            </dict>
            <key>landing-v-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,0},{22,20}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{22,20}}</string>
                <key>sourceSize</key>
                <string>{24,26}</string>
            </dict>
            <key>landing-v-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,0},{18,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{18,24}}</string>
                <key>sourceSize</key>
                <string>{24,26}</string>
            </dict>
            <key>landing-v-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,0},{18,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{18,26}}</string>
                <key>sourceSize</key>
                <string>{24,26}</string>
            </dict>
            <key>lava-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,26},{238,247}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,247}}</string>
                <key>sourceSize</key>
                <string>{238,247}</string>
            </dict>
            <key>lava-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,26},{238,247}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,247}}</string>
                <key>sourceSize</key>
                <string>{238,247}</string>
            </dict>
            <key>metal.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,273},{64,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,43}}</string>
                <key>sourceSize</key>
                <string>{64,43}</string>
            </dict>
            <key>metal1.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,273},{190,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,124}}</string>
                <key>sourceSize</key>
                <string>{190,124}</string>
            </dict>
            <key>metal2.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,273},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>metal_tri.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,273},{64,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,43}}</string>
                <key>sourceSize</key>
                <string>{64,43}</string>
            </dict>
            <key>red.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,401},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>red_tri.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,401},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>redportal-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,401},{32,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,10}}</string>
                <key>sourceSize</key>
                <string>{32,10}</string>
            </dict>
            <key>redportal-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,401},{32,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,10}}</string>
                <key>sourceSize</key>
                <string>{32,10}</string>
            </dict>
            <key>redportal-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,401},{32,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,10}}</string>
                <key>sourceSize</key>
                <string>{32,10}</string>
            </dict>
            <key>redportal-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,401},{32,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,10}}</string>
                <key>sourceSize</key>
                <string>{32,10}</string>
            </dict>
            <key>wait-h-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,401},{26,22}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{26,22}}</string>
                <key>sourceSize</key>
                <string>{26,24}</string>
            </dict>
            <key>wait-h-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,401},{26,22}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{26,22}}</string>
                <key>sourceSize</key>
                <string>{26,24}</string>
            </dict>
            <key>wait-h-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,401},{26,22}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{26,22}}</string>
                <key>sourceSize</key>
                <string>{26,24}</string>
            </dict>
            <key>wait-h-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,401},{26,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,24}}</string>
                <key>sourceSize</key>
                <string>{26,24}</string>
            </dict>
            <key>wait-h-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,529},{26,22}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{26,22}}</string>
                <key>sourceSize</key>
                <string>{26,24}</string>
            </dict>
            <key>wait-v-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,529},{22,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,26}}</string>
                <key>sourceSize</key>
                <string>{24,26}</string>
            </dict>
            <key>wait-v-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,529},{22,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,26}}</string>
                <key>sourceSize</key>
                <string>{24,26}</string>
            </dict>
            <key>wait-v-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,529},{22,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,26}}</string>
                <key>sourceSize</key>
                <string>{24,26}</string>
            </dict>
            <key>wait-v-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,529},{22,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,26}}</string>
                <key>sourceSize</key>
                <string>{24,26}</string>
            </dict>
            <key>wait-v-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,529},{24,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,26}}</string>
                <key>sourceSize</key>
                <string>{24,26}</string>
            </dict>
            <key>wood.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,529},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>wood2.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,529},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{512,1024}</string>
            <key>textureFileName</key>
            <string>labo.png</string>
        </dict>
    </dict>
</plist>
