<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>spawn-zone-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{53,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,20}}</string>
                <key>sourceSize</key>
                <string>{53,20}</string>
            </dict>
            <key>tank-L-tube-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,0},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,27}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>tank-L-tube-filled-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,0},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,27}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>tank-bottom-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,27},{40,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,320}}</string>
                <key>sourceSize</key>
                <string>{40,320}</string>
            </dict>
            <key>tank-bottom-filled-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,27},{40,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,320}}</string>
                <key>sourceSize</key>
                <string>{40,320}</string>
            </dict>
            <key>tank-evacuation-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,347},{101,107}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,107}}</string>
                <key>sourceSize</key>
                <string>{107,107}</string>
            </dict>
            <key>tank-gate-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,454},{40,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,29}}</string>
                <key>sourceSize</key>
                <string>{40,29}</string>
            </dict>
            <key>tank-main-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,483},{107,198}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{107,198}}</string>
                <key>sourceSize</key>
                <string>{107,200}</string>
            </dict>
            <key>tank-main-empty-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,681},{107,198}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{107,198}}</string>
                <key>sourceSize</key>
                <string>{107,200}</string>
            </dict>
            <key>tank-right-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,879},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>tank-right-empty-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,879},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>tank-tube-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,879},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,27}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>tank-tube-filled-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,919},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,27}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{107,946}</string>
            <key>textureFileName</key>
            <string>tank.png</string>
        </dict>
    </dict>
</plist>
