<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>spawn-zone-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{40,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,15}}</string>
                <key>sourceSize</key>
                <string>{40,15}</string>
            </dict>
            <key>tank-L-tube-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,2},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>tank-L-tube-filled-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,2},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>tank-bottom-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,200},{30,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,240}}</string>
                <key>sourceSize</key>
                <string>{30,240}</string>
            </dict>
            <key>tank-bottom-filled-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,200},{30,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,240}}</string>
                <key>sourceSize</key>
                <string>{30,240}</string>
            </dict>
            <key>tank-evacuation-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,200},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>tank-evacuation-plug-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,2},{87,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,40}}</string>
                <key>sourceSize</key>
                <string>{87,40}</string>
            </dict>
            <key>tank-evacuation-whirlwind-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{133,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,64}}</string>
                <key>sourceSize</key>
                <string>{133,64}</string>
            </dict>
            <key>tank-evacuation-whirlwind-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,134},{133,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,64}}</string>
                <key>sourceSize</key>
                <string>{133,64}</string>
            </dict>
            <key>tank-evacuation-whirlwind-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,68},{133,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,64}}</string>
                <key>sourceSize</key>
                <string>{133,64}</string>
            </dict>
            <key>tank-evacuation-whirlwind-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,2},{133,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,64}}</string>
                <key>sourceSize</key>
                <string>{133,64}</string>
            </dict>
            <key>tank-evacuation-whirlwind-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,68},{133,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,64}}</string>
                <key>sourceSize</key>
                <string>{133,64}</string>
            </dict>
            <key>tank-evacuation-whirlwind-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,68},{133,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,64}}</string>
                <key>sourceSize</key>
                <string>{133,64}</string>
            </dict>
            <key>tank-evacuation-whirlwind-07.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,134},{133,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,64}}</string>
                <key>sourceSize</key>
                <string>{133,64}</string>
            </dict>
            <key>tank-evacuation-whirlwind-08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{133,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,64}}</string>
                <key>sourceSize</key>
                <string>{133,64}</string>
            </dict>
            <key>tank-gate-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{30,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,22}}</string>
                <key>sourceSize</key>
                <string>{30,22}</string>
            </dict>
            <key>tank-main-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,200},{80,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,150}}</string>
                <key>sourceSize</key>
                <string>{80,150}</string>
            </dict>
            <key>tank-main-empty-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,200},{80,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,150}}</string>
                <key>sourceSize</key>
                <string>{80,150}</string>
            </dict>
            <key>tank-right-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>tank-right-empty-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,2},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>tank-tube-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,2},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>tank-tube-filled-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,2},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tank.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>textureFileName</key>
            <string>tank.png</string>
        </dict>
    </dict>
</plist>
