<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>control-back.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{127,91}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{127,91}}</string>
                <key>sourceSize</key>
                <string>{133,93}</string>
            </dict>
            <key>control-fastforward.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,0},{127,91}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{127,91}}</string>
                <key>sourceSize</key>
                <string>{133,93}</string>
            </dict>
            <key>control-home.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,91},{127,91}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{127,91}}</string>
                <key>sourceSize</key>
                <string>{133,93}</string>
            </dict>
            <key>control-pause.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,91},{127,91}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{127,91}}</string>
                <key>sourceSize</key>
                <string>{133,93}</string>
            </dict>
            <key>control-play.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,182},{127,91}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{127,91}}</string>
                <key>sourceSize</key>
                <string>{133,93}</string>
            </dict>
            <key>control-restart.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,182},{127,91}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{127,91}}</string>
                <key>sourceSize</key>
                <string>{133,93}</string>
            </dict>
            <key>control-rewind.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,273},{127,91}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{127,91}}</string>
                <key>sourceSize</key>
                <string>{133,93}</string>
            </dict>
            <key>control-stop.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,273},{127,91}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{127,91}}</string>
                <key>sourceSize</key>
                <string>{133,93}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{254,364}</string>
            <key>textureFileName</key>
            <string>controls.png</string>
        </dict>
    </dict>
</plist>
