<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blueportal-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,52},{32,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,10}}</string>
                <key>sourceSize</key>
                <string>{32,10}</string>
            </dict>
            <key>blueportal-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,52},{32,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,10}}</string>
                <key>sourceSize</key>
                <string>{32,10}</string>
            </dict>
            <key>blueportal-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,52},{32,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,10}}</string>
                <key>sourceSize</key>
                <string>{32,10}</string>
            </dict>
            <key>blueportal-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,52},{32,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,10}}</string>
                <key>sourceSize</key>
                <string>{32,10}</string>
            </dict>
            <key>falling-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,0},{22,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,26}}</string>
                <key>sourceSize</key>
                <string>{24,26}</string>
            </dict>
            <key>falling-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,0},{22,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,26}}</string>
                <key>sourceSize</key>
                <string>{24,26}</string>
            </dict>
            <key>falling-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,0},{22,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,26}}</string>
                <key>sourceSize</key>
                <string>{24,26}</string>
            </dict>
            <key>landing-h-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,26},{26,14}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{26,14}}</string>
                <key>sourceSize</key>
                <string>{26,24}</string>
            </dict>
            <key>landing-h-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,26},{24,16}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{24,16}}</string>
                <key>sourceSize</key>
                <string>{26,24}</string>
            </dict>
            <key>landing-h-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,0},{24,20}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{24,20}}</string>
                <key>sourceSize</key>
                <string>{26,24}</string>
            </dict>
            <key>landing-v-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,0},{22,20}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{22,20}}</string>
                <key>sourceSize</key>
                <string>{24,26}</string>
            </dict>
            <key>landing-v-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{18,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{18,24}}</string>
                <key>sourceSize</key>
                <string>{24,26}</string>
            </dict>
            <key>landing-v-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{18,0},{18,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{18,26}}</string>
                <key>sourceSize</key>
                <string>{24,26}</string>
            </dict>
            <key>redportal-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,26},{32,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,10}}</string>
                <key>sourceSize</key>
                <string>{32,10}</string>
            </dict>
            <key>redportal-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,52},{32,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,10}}</string>
                <key>sourceSize</key>
                <string>{32,10}</string>
            </dict>
            <key>redportal-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,52},{32,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,10}}</string>
                <key>sourceSize</key>
                <string>{32,10}</string>
            </dict>
            <key>redportal-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,52},{32,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,10}}</string>
                <key>sourceSize</key>
                <string>{32,10}</string>
            </dict>
            <key>wait-h-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,26},{26,22}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{26,22}}</string>
                <key>sourceSize</key>
                <string>{26,24}</string>
            </dict>
            <key>wait-h-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,26},{26,22}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{26,22}}</string>
                <key>sourceSize</key>
                <string>{26,24}</string>
            </dict>
            <key>wait-h-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,26},{26,22}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{26,22}}</string>
                <key>sourceSize</key>
                <string>{26,24}</string>
            </dict>
            <key>wait-h-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,26},{26,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,24}}</string>
                <key>sourceSize</key>
                <string>{26,24}</string>
            </dict>
            <key>wait-h-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,26},{26,22}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{26,22}}</string>
                <key>sourceSize</key>
                <string>{26,24}</string>
            </dict>
            <key>wait-v-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,0},{22,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,26}}</string>
                <key>sourceSize</key>
                <string>{24,26}</string>
            </dict>
            <key>wait-v-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,0},{22,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,26}}</string>
                <key>sourceSize</key>
                <string>{24,26}</string>
            </dict>
            <key>wait-v-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,0},{22,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,26}}</string>
                <key>sourceSize</key>
                <string>{24,26}</string>
            </dict>
            <key>wait-v-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,0},{22,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,26}}</string>
                <key>sourceSize</key>
                <string>{24,26}</string>
            </dict>
            <key>wait-v-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,26},{24,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,26}}</string>
                <key>sourceSize</key>
                <string>{24,26}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{256,64}</string>
            <key>textureFileName</key>
            <string>labo.png</string>
        </dict>
    </dict>
</plist>
