<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bite-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{151,107}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{151,107}}</string>
                <key>sourceSize</key>
                <string>{167,113}</string>
            </dict>
            <key>bite-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,0},{151,107}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{151,107}}</string>
                <key>sourceSize</key>
                <string>{167,113}</string>
            </dict>
            <key>bite-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,0},{151,107}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{151,107}}</string>
                <key>sourceSize</key>
                <string>{167,113}</string>
            </dict>
            <key>bite-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,107},{153,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{153,113}}</string>
                <key>sourceSize</key>
                <string>{167,113}</string>
            </dict>
            <key>bite-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,107},{153,105}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{153,105}}</string>
                <key>sourceSize</key>
                <string>{167,113}</string>
            </dict>
            <key>breaking-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,107},{119,79}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,34},{119,79}}</string>
                <key>sourceSize</key>
                <string>{167,113}</string>
            </dict>
            <key>breaking-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,220},{119,79}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,34},{119,79}}</string>
                <key>sourceSize</key>
                <string>{167,113}</string>
            </dict>
            <key>breaking-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,220},{119,79}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,34},{119,79}}</string>
                <key>sourceSize</key>
                <string>{167,113}</string>
            </dict>
            <key>breaking-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,220},{119,79}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,34},{119,79}}</string>
                <key>sourceSize</key>
                <string>{167,113}</string>
            </dict>
            <key>breaking-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,220},{131,75}}</string>
                <key>offset</key>
                <string>{-2,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,38},{131,75}}</string>
                <key>sourceSize</key>
                <string>{167,113}</string>
            </dict>
            <key>breaking-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,299},{141,67}}</string>
                <key>offset</key>
                <string>{2,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,46},{141,67}}</string>
                <key>sourceSize</key>
                <string>{167,113}</string>
            </dict>
            <key>breaking-07.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,299},{159,45}}</string>
                <key>offset</key>
                <string>{4,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,68},{159,45}}</string>
                <key>sourceSize</key>
                <string>{167,113}</string>
            </dict>
            <key>contracting-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,299},{139,97}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,16},{139,97}}</string>
                <key>sourceSize</key>
                <string>{167,113}</string>
            </dict>
            <key>contracting-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,396},{135,89}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,24},{135,89}}</string>
                <key>sourceSize</key>
                <string>{167,113}</string>
            </dict>
            <key>contracting-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,396},{119,79}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,34},{119,79}}</string>
                <key>sourceSize</key>
                <string>{167,113}</string>
            </dict>
            <key>wait-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,396},{153,105}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{153,105}}</string>
                <key>sourceSize</key>
                <string>{167,113}</string>
            </dict>
            <key>wait-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,501},{153,105}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{153,105}}</string>
                <key>sourceSize</key>
                <string>{167,113}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{488,606}</string>
            <key>textureFileName</key>
            <string>red.png</string>
        </dict>
    </dict>
</plist>
