<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>afro01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{58,74}}</string>
                <key>offset</key>
                <string>{2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,25},{58,74}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>afro02.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,0},{58,72}}</string>
                <key>offset</key>
                <string>{-3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,25},{58,72}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>afro03.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,0},{58,72}}</string>
                <key>offset</key>
                <string>{-8,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,27},{58,72}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>afro04.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,0},{58,72}}</string>
                <key>offset</key>
                <string>{-13,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,25},{58,72}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>afro05.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,0},{58,72}}</string>
                <key>offset</key>
                <string>{-17,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,27},{58,72}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>afro06.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,0},{58,72}}</string>
                <key>offset</key>
                <string>{-20,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,27},{58,72}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>afro07.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,0},{58,74}}</string>
                <key>offset</key>
                <string>{-21,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,25},{58,74}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>afro08.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,0},{58,74}}</string>
                <key>offset</key>
                <string>{-15,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,25},{58,74}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>afro09.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,74},{58,74}}</string>
                <key>offset</key>
                <string>{-3,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,25},{58,74}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>afro10.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,74},{58,74}}</string>
                <key>offset</key>
                <string>{3,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,25},{58,74}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>cosmonaut01.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,74},{54,62}}</string>
                <key>offset</key>
                <string>{1,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,37},{54,62}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>cosmonaut02.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,74},{54,62}}</string>
                <key>offset</key>
                <string>{1,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,37},{54,62}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>cosmonaut03.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,74},{54,62}}</string>
                <key>offset</key>
                <string>{1,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,37},{54,62}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>cosmonaut04.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,74},{54,64}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,17},{54,64}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>cosmonaut05.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,74},{54,64}}</string>
                <key>offset</key>
                <string>{1,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{54,64}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>cosmonaut06.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,74},{54,62}}</string>
                <key>offset</key>
                <string>{1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,3},{54,62}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>cosmonaut07.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,74},{54,64}}</string>
                <key>offset</key>
                <string>{1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,8},{54,64}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>cosmonaut08.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,74},{54,62}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,18},{54,62}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>cosmonaut09.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,148},{54,62}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,28},{54,62}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>cosmonaut10.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,74},{54,62}}</string>
                <key>offset</key>
                <string>{1,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,37},{54,62}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>hawaiian01.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,148},{50,58}}</string>
                <key>offset</key>
                <string>{4,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,41},{50,58}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>hawaiian02.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,148},{50,58}}</string>
                <key>offset</key>
                <string>{4,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,41},{50,58}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>hawaiian03.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,148},{50,58}}</string>
                <key>offset</key>
                <string>{4,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,41},{50,58}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>hawaiian04.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,148},{50,58}}</string>
                <key>offset</key>
                <string>{4,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,41},{50,58}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>hawaiian05.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,148},{50,58}}</string>
                <key>offset</key>
                <string>{4,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,41},{50,58}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>hawaiian06.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,148},{50,58}}</string>
                <key>offset</key>
                <string>{4,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,41},{50,58}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>hawaiian07.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,148},{50,58}}</string>
                <key>offset</key>
                <string>{4,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,41},{50,58}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>hawaiian08.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,148},{50,58}}</string>
                <key>offset</key>
                <string>{4,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,41},{50,58}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>hawaiian09.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,148},{50,58}}</string>
                <key>offset</key>
                <string>{4,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,41},{50,58}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>hawaiian10.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,210},{50,58}}</string>
                <key>offset</key>
                <string>{4,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,41},{50,58}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>sombrero01.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,210},{88,70}}</string>
                <key>offset</key>
                <string>{3,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,29},{88,70}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>sombrero02.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,210},{88,70}}</string>
                <key>offset</key>
                <string>{3,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,29},{88,70}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>sombrero03.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,210},{88,70}}</string>
                <key>offset</key>
                <string>{3,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,29},{88,70}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>sombrero04.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,210},{88,68}}</string>
                <key>offset</key>
                <string>{3,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,31},{88,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>sombrero05.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,210},{88,70}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,18},{88,70}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>sombrero06.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,210},{88,70}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,11},{88,70}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>sombrero07.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,280},{88,70}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,20},{88,70}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>sombrero08.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,280},{88,70}}</string>
                <key>offset</key>
                <string>{3,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,29},{88,70}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>sombrero09.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,210},{88,70}}</string>
                <key>offset</key>
                <string>{3,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,29},{88,70}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>sombrero10.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,210},{88,70}}</string>
                <key>offset</key>
                <string>{3,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,29},{88,70}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{504,350}</string>
            <key>textureFileName</key>
            <string>success.png</string>
        </dict>
    </dict>
</plist>
